

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    
}

table {
    border-width: 2px;
    border-style: dotted;
    border-radius: 3px;
}

td {
    border-style:groove;
    border-width: 2px;
}